.header{
    grid-area: h;
    background-color: blue;
  }
  
  .header img{
    padding-top: 4px;
    padding-left:  3px; ;
    width: 100px;
  }

  .loginBlock
  {
    float: right;
    color: white;
  }

  .loginBlock a
  {
    color: white;
  }